body {
    text-align: center;
    margin: 50px auto;
    border-collapse: collapse;
    font-size: 20px;
    font-family: cursive;
    color: #333;
  }
  
  table {
    margin: 50px auto;
    border-collapse: collapse;
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
  }
  
  button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    color: #333;
  }
  